* {
    margin: 0;
    padding: 0;
}


#container {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fff;
    width: 890px;
    height: 1386px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 61px;
    border-bottom: 2px solid #938E8B;
}

#logo {
    width: 110px;
    background: #D55D5C;
    height: 100%;
    position: relative;
    float: left;
}

    #logo a {
        color: #fff;
        text-decoration: none;
        font-family: "黑体";
        font-size: 12px;
        position: absolute;
        bottom: 0px;
        left: 10px;
    }

#time {
    float: right;
    height: 100%;
}


    #time p {
        font-family: "黑体";
        font-size: 12px;
        transform: translateY(44px);
        color: #d45d5c;
        height: 16px;
    }

#banner {
    height: 301px;
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
}

#leftPanel {
    float: left;
    width: 641px;
    background-color: red;
    position: relative;
}

#rightPanel {
    float: right;
    width: 203px;
    height: 301px;
}

#leftPanel img {
    width: 641px;
    height: 301px;
}

#slide-left {
    position: absolute;
    left: 0;
    width: 191px;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.2);
}

#slide-right {
    position: absolute;
    right: 0;
    width: 191px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
}

.splitline {
    width: 100%;
    height: 2px;
    background-color: #cc8091;
}


#rightPanel h2 {
    text-decoration: underline;
    font-variant: small-caps;
    font-size: 30px;
    font-family: "微软雅黑";
    font-weight: 300;
}

#rightPanel h1 {
    font-family: "微软雅黑";
    font-size: 100px;
    color: #75b86b;
    font-style: italic;
}


.nav_item {
    font-size: 12px;
    font-family: "楷体";
    color: #676767;
}

#version {
    font-family: "微软雅黑";
    font-size: 55px;
    color: #cc8091;
    margin-left: 20px;
    float: left;
}

#comment {
    float: left;
    height: 72px;
    position: relative;
}

.comment_title {
    font-family: "微软雅黑";
    font-size: 21px;
    color: #cc8091;
    position: absolute;
    bottom: 25px;
}

.comment_content {
    font-family: "微软雅黑";
    font-size: 12px;
    /*color: #cc8091;*/
    position: absolute;
    bottom: 10px;
}

#news {
    width: 641px;
    height: 190px;
    margin-top: 40px;
    overflow: hidden;
}

#news_what {
    width: 230px;
    float: left;
    margin-right: 20px;
}

#title_what {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #418c59;
    text-decoration: underline;
    font-weight: bolder;
}

.content {
    margin-top: 7px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #231815;
    opacity: 0.7;
}

#news_when {
    width: 230px;
    float: left;
    margin-right: 20px;
}

#title_when {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #d2994f;
    text-decoration: underline;
    font-weight: bolder;
}



#title_how {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #cc7680;
    text-decoration: underline;
    font-weight: bolder;
}

.p1 {
    margin-top: 20px;
}

.font_percent {
    color: #cd4a48;
}

#info_container {
    width: 100%;
    margin-top: 40px;
    height: 640px;
    overflow: hidden;
}

.right_info {
    float: right;
    width: 458px;
    height: 100%;
}

.left_info {
    float: left;
    height: 100%;
    width: 415px;
}

.en_title {
    font-family: "黑体";
    font-size: 42px;
    color: #11456b;
    font-weight: 900;
}

    .en_title i {
        font-size: 72px;
        color: #f5e327;
    }

    .en_title:nth-child(2) {
        font-size: 33px;
        border-bottom: 2px solid #11456b;
        padding: 7px 0px;
    }

#article_content strong {
    font: 70px "微软雅黑";
    color: #f5e327;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

#article_content p {
    margin-top: 11px;
    font: 12px "宋体";
    color: #767777;
}

#article_img {
    float: right;
}

    #article_img img {
        width: 110px;
        height: 200px;
        margin-top: 10px;
        margin-left: 16px;
        margin-bottom: 10px;
    }

.left_info p {
    font: 12px "宋体";
    color: #767777;
}

.indent {
    text-indent: 2em;
}

.right_tab {
    width: 458px;
    height: 275px;
    position: relative;
}

    .right_tab img {
        width: 100%;
        height: 100%;
    }

#img_mask {
    width: 458px;
    height: 61px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
}

    #img_mask div:nth-child(1) {
        font-size: 26px;
        font-family: "微软雅黑";
        color: #fff;
        margin-top: 8px;
        margin-bottom: 8px;
        height: 44px;
        display: inline-block;
        margin-left: 44px;
        padding-left: 16px;
        border-left: 3px solid #72b16a;
        box-sizing: border-box;
    }

    #img_mask div:nth-child(2) {
        display: inline-block;
        font-family: "微软雅黑";
        font-size: 12px;
        color: #72b16a;
        letter-spacing: 0.4em;
    }

.right_catalog {
    margin-top: 30px;
    width: 458px;
    height: 318px;
    background: #EEEED6;
}

    .right_catalog ul {
        width: 100%;
        height: 156px;
    }

        .right_catalog ul li {
            list-style-type: none;
            font-size: 16px;
            font-family: "宋体";
            height: 52px;
            line-height: 52px;
            padding-left: 26px;
        }

            .right_catalog ul li i:nth-child(1) {
                border: 6px solid transparent;
                border-bottom: 6px solid #7e91ac;
                position: relative;
                top: -10px;
                right: 10px;
            }

.right_time {
    float: left;
    width: 260px;
    height: 160px;
    background: #D55D5C;
    color: #fff;
    font-family: "黑体";
}

#time1 {
    float: left;
    width: 80px;
    font-size: 110px;
    font-weight: 900;
    text-align: center;
    box-sizing: border-box;
    margin-top: 20px;
}

#boderline {
    width: 2px;
    height: 86px;
    background: #fff;
    float: left;
    margin-top: 37px;
}

#time2 {
    float: left;
    margin-top: 40px;
    margin-left: 10px;
}

    #time2 h3 {
        font-size: 21px;
    }

    #time2 p {
        font-size: 12px;
    }

#message {
    width: 198px;
    height: 160px;
    float: left;
    box-sizing: border-box;
    font-size: 14px;
    color: #5a5b5b;
    font-family: "黑体";
    line-height: 16px;
    padding: 30px 4px 0 10px;
}

    #message span:nth-child(1) {
        font-size: 72px;
        font-family: "黑体";
        color: #d45d5c;
        float: left;
        margin-left: -26px;
        margin-bottom: -10px;
    }

    #message span:nth-child(2) {
        font-size: 72px;
        font-family: "黑体";
        color: #d45d5c;
        float: right;
        margin-top: 30px;
    }

#footer {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    border-top: 1px solid #938e8c;
}

    #footer p {
        float: right;
        font-size: 12px;
        font-family: "黑体";
        color: #d45d5c;
    }
